<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-train-heading" jhiTranslate="trainPassengerApp.train.home.createOrEditLabel">Create or edit a Train</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trainPassengerApp.train.model" for="field_model">Model</label>
                    <input type="text" class="form-control" name="model" id="field_model"
                           formControlName="model"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trainPassengerApp.train.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trainPassengerApp.train.connection" for="field_connection">Connection</label>
                    <input type="text" class="form-control" name="connection" id="field_connection"
                           formControlName="connection"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="trainPassengerApp.train.passenger" for="field_passengers">Passenger</label>
                    <select class="form-control" id="field_passengers" multiple name="passengers" formControlName="passengers">
                        <option [ngValue]="getSelected(editForm.get('passengers')!.value, passengerOption)" *ngFor="let passengerOption of passengers; trackBy: trackById">{{ passengerOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
